.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  min-width: fit-content;
  height: 100%;
  padding: 10px;
  border-right: 1px solid gainsboro;
}

.fieldset {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gainsboro;
}

.fieldset input[type="button"] {
  margin-top: 10px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
