.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.fieldset {
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.fieldset input[type="button"] {
  margin-top: 10px;
}

.button {
  color: white;
  background-color: rgb(97, 139, 255);
}

.button__disabled {
  color: black;
  background-color: grey;
  opacity: 0.5;
  pointer-events: none;
}
