.button_box {
  display: flex;
  gap: 10px;
}

.button {
}

.button__current {
  background-color: rgb(97, 139, 255);
}

.button:active {
  background-color: rgb(97, 139, 255);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
