.words {
  display: flex;
  gap: 30px;
  width: 80%;
}

.words_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  min-width: 70%;
}

@media (max-width: 1120px) {
  .words {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .words {
    flex-direction: column;
  }

  .wordsList {
    width: 100%;
    min-width: 100%;
  }
}
