.topBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
